Source: zpaqfranz
Section: utils
Priority: optional
Maintainer: "Franco Corbelli" <franco@francocorbelli.com>
Build-Depends: debhelper (>=12~)
Standards-Version: 4.6.1.0
Homepage: https://github.com/fcorbelli/zpaqfranz 

Package: zpaqfranz
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Swiss army knife for backup and disaster recovery
 Like 7z or RAR on steroids, with deduplicated "snapshots" (versions)
 Conceptually similar to Mac time machine, but much more efficiently
